* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  /* Flex Container */
  .flex-container {
	text-align: center;
	padding: 30px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  }
  
  
  
  /* Flex Item */
  .item {
	font-size: 45px;
	background-color: red;
	color: #fff;
	margin: 30px;
	padding: 30px;
  }
  
  .item2 {
	background-color: green;
	height: 250px;
	flex-basis: 250px;
	flex-shrink: 0;
  }
  
  .item3 {
	background-color: purple;
  }
  
  .item4 {
	background-color: orangered;
	align-self: stretch;
  }
  
  .item5 {
	background-color: blue;
  }
